
@{
    ViewBag.Title = "StripePaymentResponse";
}

<h2>Stripe Payment Response</h2>

<label>Stripe Token:</label>  @ViewBag.StripeToken<br />
<label>Stripe Token:</label>  @ViewBag.PaymentId<br />
<label>Stripe Token:</label>  @ViewBag.PaymentStatus