@{
    ViewBag.Title = "StripePayment";
}

<h2>Stripe Payment</h2>

<form action="StripePaymentResponse" method="POST">
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="Your publishable key"
            data-amount="999"
            data-name="Certua"
            data-description="Example charge"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            @*data-zip-code="true"*@
            data-currency="gbp">
    </script>
</form>